body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    color: black;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

h3{
font-family: 'Noto Sans', sans-serif;
font-size: 16px;
text-align: left;
display: inline-block;
padding-right: 70px;
padding-top: 150px;
text-indent: 40px;
color: #fff;
}



.container {
    width: 100%;
    max-width: 1200px;
    margin: -40px auto;
}


/* Header */
.header {
    
    width: 100%;
    position: absolute;
    z-index: 1000;
}

.header.active {
    background-color: rgb(0, 140, 255);
}

.header.fixed {
    padding: 10px 0;
    background-color: rgb(0, 140, 255);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translate3d(0,0,0);
}

.header__inner {
    display: flex;
    justify-content: space-between;
 
   
}

.header__logo {
    margin-top: 40px;
    font-size: 30px;
    font-weight: 700; 
    color: #333;
}


/* Nav*/
.nav {
   
    margin: 2% auto 0 auto;
    font-size: 18px;
    text-transform: uppercase;
   
    transition: .5s;   
   
}

.nav__link {

    display: inline-block;
    vertical-align: top;
    color: #fff;
 
    position: relative;
    text-decoration: none;
    font-weight: bold;
    transition: color .2s linear;
    margin-right: 30px;
}

.nav__link:after {
    
    content: "";
    display:block; 
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    opacity: 0;
    top: 100%;
    left: 0;
    z-index: 1;
    padding-right: 20px; 
}

.nav__link:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.nav__link:active {
    color: rgb(69, 55, 145);
    
}


.nav__link:hover:after,
.nav__link:active:after  {
    opacity: 1;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../img/header.png) center no-repeat;
    background-size: cover;
}

.intro-half {
    height: 10vh;
    background: url("../img/header.png");
    background-size: cover;
    
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;

}

.intro__title {
    color: #fff;
    font-size: 120px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto;
}

.intro__suptitle {
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 65px;
    text-align: center;
}

.intro__suptitle--news {
    margin-top: 20px;
}

/* news */
.news {
    justify-content: center;
    margin-top: -120px;
}

.news__item {
    padding-bottom: 20px;
    border-bottom: 1px solid #999;
    margin-bottom: 40px;
}

.news__item:last-child {
    border-bottom: none;
}

.news__img {

    text-align: center;
}

.news__title {

    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    padding-left: 178px;
    padding-right: 178px;
}

.news__text {
    color: #333;
    margin: 10px 120px;
    font-size: 18px;
    text-align: justify;
}

.news__info-date {
    padding: 10px ;
    margin-left: 16%;
}

.date {
    
    text-align: left;
    font-size: 14px;
    float: left; 
    color: #23387099;
 
}

/* Button */
.btn {
    
   margin-top: 85%;
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 30px;
    transition: background .1s 
    linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color:#62abf5;
    
}

/* section */

.section {
    padding: 80px 0;
}


.section-table {
    margin-top: -80px;
    margin-bottom: 40px;
}

.section--intro {
    background: url("../html/img/head.jpg");
    width: 100%;
    height: 300px;
    margin-top: 100px;
}

.section--info {
margin-top: -200px;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}

.section--header--news{
    margin-bottom: 0px;
}


.section__title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}



.section__news {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
   
}

.section__text {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight:normal;
    color:  #999;
    
    text-align: center;
}

.section__culture{
    text-align: center;  
    margin: 0 auto 50px; 
}

.circle {

    
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 3px solid #62abf5;
    border-radius: 100%;
    margin-bottom: 40px;
    background-color: #fff;
    position: relative;

}


/* footer */
.footer {
    background: url(../img/footer.png);
    height: 405px;
    
}


.footer__suptitle {
    padding-top: 30px;
    color: #fff;
}

.footer__title {
    color: #fff;
    font-size: 25px;
}

.footer__title:after {
    background-color: #fff;
}

.footer__info{
display: inline-block;
font-family: 'Noto Sans', sans-serif;
font-size: 14px;
color: #fff;
text-align: left;
padding-right: 113px;
text-indent: 40px;

}

.section__href {
    display: flex;
}

.href__item {

    flex: 1 1 0;
    padding-right: 30px;
    padding-left: 30px;
    position: relative;
    border-radius: 100%;
}

.social__web {
    transition: .5s;  
    border-radius: 100%;
    width: 50px; 
    height: 50px;
}

.social__web:hover {
    box-shadow: 0 15px 10px rgb(47, 85, 95);
    border-radius: 100%;
    transform: scale(1.2);
}

.footer_section-text {
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    text-align: center;
}

/* table */

.history__text {
    margin-top: -150px;
    text-align: justify;
    font-size: 18px;
    text-indent: 40px;
    line-height: 2;
}

table {
  
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ECE9E0;
    color: #fff;
    border: 10px solid #ECE9E0;
    border-radius: 20px;
    width: 100%;
}
th, td{
    background: #62abf5;
    padding: 10px; 
}


.table__th {
    width: 15%;
    text-align: center;
    padding: 5px;
}


h2 {
    text-align: center;
    padding-bottom: 30px;
    
}



/* culture */

.culture {
    margin-top: -190px;
    text-align: center;
}

.cul__title {
    font-family: 'Noto Sans', sans-serif;
    color: #333;
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 2px solid #333;
}

.culture__item {
    margin: 40px 0;
}

.culture__title {
    font-size: 18px;
    font-style: italic;
    padding-bottom: 15px;
}

.culture__text {
    font-size: 18px;
    text-align: justify;
    text-indent: 40px;

}


/* contacts */
.contacts{
  
    text-align: center;
 
}


form, input, textarea{
    text-align: left;
    font-size: 18px;
    margin: 10px 0;
    border-radius: 15px;
    padding: 5px;

    
}

input:not(:required, [type="submit"]){
    opacity: .5;
}

input:not(:required):hover{
    opacity: 1;
}

input:not([type="submit"]):required, textarea:required{
border-style: groove;
border-color: #62abf5;
}


.submit {

    border: none;
    margin-left: 65px;
    padding: 20px 50px;
    color: #62abf5;
    text-transform: uppercase;
    font-weight: 700;
}

.submit:hover{
  
    box-shadow: 0 3px 10px rgb(41, 158, 197);
 
}

form {
    margin-bottom: 120px;
}
